.big-img{
    height: 500px;
    width: 500px;
}
#hotel-details{
    background-color:rgb(132,136,139);
    width:50%;
    height:20%;
    align-content:center;
    margin:2% auto;
}
#tarrif-details{
    border:1px solid black;
    margin:2%;
    border-radius:5px;
    padding:1% 2%;

}
#customer-details{
    margin:2%;
}

